EJ_0___WORKFLOW_BASICO.json
{
  "name": "EJ 0 - WORKFLOW BASICO",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        -260
      ],
      "id": "26e27af8-cfe7-4d32-ba85-7db5b0256450",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vnf5pai00cXi0_LQqv9oNPSks0QQpVVI3EM3y9_43Wk",
          "mode": "list",
          "cachedResultName": "n8n_ejemplo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vnf5pai00cXi0_LQqv9oNPSks0QQpVVI3EM3y9_43Wk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vnf5pai00cXi0_LQqv9oNPSks0QQpVVI3EM3y9_43Wk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -40,
        -260
      ],
      "id": "1ae55bc4-9008-4416-b012-ed6af7f7f491",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xdifa2ANm3ySLvDa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.totalConIVA = item.json.total_order_value * 1.21;\n}\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -260
      ],
      "id": "84753ce9-19f8-4ccb-8bcd-fc058a45d0aa",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43eaafe7-3c11-45e1-900c-73cd234f1ff7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef2c9d4fbe371cefddb16a35490d3862fed81fa6c9b44d5eaf2920effd1958b1"
  },
  "id": "WVLb9QH1MvasQg1i",
  "tags": []
}